<nav class="navbar navbar-toggleable-md fixed-top">
  <div class="collapse navbar-collapse container">
    <!-- Navbar navigation links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile"> Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register"> Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="test"> Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="parent"> Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products"> Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pipe"> Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="formTest"> Form</a>
      </li>
    </ul>
  </div>
</nav>
